In [1]:
import requests
import datetime
import pandas as pd

In [2]:
link = "https://uat-web.automic.com.au/er/public/api/countries"
data = pd.read_json(link)

In [3]:
data = data[['countryName', 'isoCode','isoCode2']] # repositioning columns

In [5]:
data = data.rename(columns={"countryName": "country_name", 'isoCode2':'iso_code_3', "isoCode": "iso_code_2"}) # renaming columns

In [6]:
data.head()

     country_name iso_code_2 iso_code_3
0     Afghanistan        AFG         AF
1   Aland Islands        ALA         AX
2         Albania        ALB         AL
3         Algeria        DZA         DZ
4  American Samoa        ASM         AS

In [7]:
filename = 'country_'+ str(datetime.datetime.now().strftime("%Y%m%d_%H%M%S"))+'.csv'

In [8]:
with open(filename,'w') as f:
    data.to_csv(f, index = False, header=True)